.filters{
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filters button{
	right: 0;
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
}
.filters button:hover{
	opacity: 90%;
}
.filters .feat{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.filters .feat .locations, .filters .feat .amenities{
	height: 100%;
	width: 50%;
}
.filters .locations
{
	border-right: 1px solid #DDDDDD;
}
.filters .locations h3,
.filters .locations h4,
.filters .amenities h3,
.filters .amenities h4{margin-left: 30px;}
.filters .locations h3, .filters .amenities h3{
	font-weight: 600;
	margin-bottom: 0;
}
.filters .locations h4, .filters .amenities h4{
	font-weight: 400;
	font-size: 14px;
	margin-top: 0;
}
.filters .popover{
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: none;
	list-style-type: none;
	z-index: 1000px;
}
.filters .popover ul{list-style-type: none;}
.filters .popover ul li{padding: 3px;}
.filters .popover h2{
	margin-bottom: 0;
	font-size: 16px;
}
.filters .locations:hover .popover,
.filters .amenities:hover .popover{display: block;}